{% raw %}{% comment %}
  Placeholder to allow defining custom head, in principle, you can add anything here, e.g. favicons:

  1. Head over to https://realfavicongenerator.net/ to add your own favicons.
  2. Customize default _includes/custom-head.html in your source directory and insert the given code snippet.
{% endcomment %}

<!-- 代码块增强配置 -->
<link rel="stylesheet" 
      href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/github-dark-dimmed.min.css" 
      integrity="sha512-zTF0eSfXbYk6+8Q7fMlWZRgmyZg/6YDn0F5H7Qdl2UfQH3a5ihTNlBJdAC7oRA1UPwq4+QX7H2m3V7g2f+SQ==" 
      crossorigin="anonymous" 
      referrerpolicy="no-referrer" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>
<script>
  document.addEventListener('DOMContentLoaded', (event) => {
    document.querySelectorAll('pre code').forEach((el) => {
      hljs.highlightElement(el);
    });
  });
</script>

<style>
  /* 自定义覆盖样式 */
  pre code.hljs {
    padding: 1.2em;
    border: 1px solid #404040;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  }
</style>{% endraw %}
