/**
 * Dark background with light code block styling
 */

 .highlight table td { 
  padding: 5px; 
}

.highlight table pre { 
  margin: 0; 
}

.highlight, .highlight .w {
  color: #f8f8f2; /* Light text color */
  background-color: #282a36; /* Dark background */
}

.highlight .err {
  color: #ff5555; /* Error color */
  background-color: #282a36; /* Dark background */
  font-weight: bold;
}

.highlight .c, .highlight .ch, .highlight .cd, .highlight .cm, .highlight .cpf, .highlight .c1, .highlight .cs {
  color: #6272a4; /* Comment color */
  font-style: italic;
}

.highlight .cp {
  color: #50fa7b; /* Constant color */
}

.highlight .nt {
  color: #ff79c6; /* Tag name color */
}

.highlight .o, .highlight .ow {
  color: #f8f8f2; /* Operator color */
}

.highlight .p, .highlight .pi {
  color: #f8f8f2; /* Punctuation color */
}

.highlight .gi {
  color: #f1fa8c; /* Variable color */
  background-color: #282a36; /* Dark background */
}

.highlight .gd {
  color: #ff5555; /* Deleted color */
  background-color: #282a36; /* Dark background */
}

.highlight .gh {
  color: #f1fa8c; /* Header color */
  font-weight: bold;
}

.highlight .k, .highlight .kn, .highlight .kp, .highlight .kr, .highlight .kv {
  color: #ff79c6; /* Keyword color */
}

.highlight .kc {
  color: #ffb86c; /* Constant color */
}

.highlight .kt {
  color: #bd93f9; /* Type color */
}

.highlight .kd {
  color: #ff79c6; /* Keyword color */
}

.highlight .s, .highlight .sa, .highlight .sb, .highlight .sc, .highlight .dl, .highlight .sd, .highlight .s2, .highlight .sh, .highlight .sx, .highlight .s1 {
  color: #f1fa8c; /* String color */
  font-style: italic;
}

.highlight .si {
  color: #f1fa8c; /* String interpolation color */
  font-style: italic;
}

.highlight .sr {
  color: #f1fa8c; /* Regex color */
  font-style: italic;
}

.highlight .se {
  color: #ff79c6; /* Special color */
}

.highlight .nn {
  color: #50fa7b; /* Namespace color */
}

.highlight .nc {
  color: #50fa7b; /* Class name color */
}

.highlight .no {
  color: #ffb86c; /* Other color */
}

.highlight .na {
  color: #f1fa8c; /* Attribute name color */
}

.highlight .m, .highlight .mb, .highlight .mf, .highlight .mh, .highlight .mi, .highlight .il, .highlight .mo, .highlight .mx {
  color: #ffb86c; /* Number color */
}

.highlight .ss {
  color: #8be9fd; /* Symbol color */
}
